.start-container {
  height: 100%;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.start-quiz-sections {

  button {
    padding: 15px;
  }

}
